template(id="card")
	li.card-list__item
		div.card-list__pic-wrap
			picture
				source(srcset="img/content/coin01@1x.webp, img/content/coin01@2x.webp" type="image/webp")
				img(src="img/content/coin01@1x.png" srcset="img/content/coin01@2x.png" alt="Монеты")
		div.card-list__content-wrap
			p.card-list__type Bridge
			h3.card-list__heading
				|How to increase your productivity with a Music
			p.card-list__text-content
				|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
				| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
			p.card-list__author
				|Posted by #[span Eugenia], on July  24, 2019
			a.card-list__continue(href="#") Continue reading
