header.header
	div.header__container.container
		button.header__burger-menu(type="button" aria-expanded="false" aria-label="Меню")
			span
			span
			span
		if isHomePage
			a.header__logo(href="#")
				img(src="./img/content/logo-header.svg" alt="magwai logo")
		else
			a.header__logo(href="./index.html")
				img(src="./img/content/logo-header.svg" alt="magwai logo")
		.header__navigation-wrap
			+navigation(headerData).header__navigation
			a.navigation__call(href="#")
				+icon(32, 32, 'phone')
			button.navigation__popover-button.button.button--main(type="button")
				span ОСТАВИТЬ ЗАЯВКУ
		a.header__call(href="#")
			+icon(32, 32, 'phone')
		button.header__popover-button.button.button--main.button--decor(type="button")
			span ОСТАВИТЬ ЗАЯВКУ
