header.header
	div.header__container.container
		button.header__burger-menu(type="button" aria-expanded="false" aria-label="Меню")
			span
			span
			span
		if isHomePage
			div.header__logo
				img(src="./img/content/logo-header.svg" width="112" height="38" alt="magwai logo")
		else
			a.header__logo(href="#!")
				img(src="./img/content/logo-header.svg" width="112" height="38" alt="magwai logo")
		+navigation(headerData).header__navigation
		a.header__call(href="#")
			+icon(32, 32, 'phone')
		div.header__more-wrap
			button.header__popover-button.button.button--main(type="button")
				span ОСТАВИТЬ ЗАЯВКУ
			div.header__decor-panel
