section.hero
	div.hero__bg-wrap
		div.hero__damper
		div.hero__container.container
			div.hero__content-wrap
				h1.hero__heading Полет Илона Маска и DOGIE COIN
				p.hero__text В прошлый четверг все офигели от полета DOGIE COIN на марс.
				button.hero__popover-button.button.button--main.button--decor.button--decor-small(type="button")
					span ОСТАВИТЬ ЗАЯВКУ
