section.hero
	div.hero__container.container
		h1.hero__heading Карточки
		ul.hero__card-list.card-list
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin01@1x.webp, img/content/coin01@2x.webp, img/content/coin01@3x.webp" type="image/webp")
						img(src="img/content/coin01@1x.png" srcset="img/content/coin01@2x.png, img/content/coin01@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Bridge
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin02@1x.webp, img/content/coin02@2x.webp, img/content/coin02@3x.webp" type="image/webp")
						img(src="img/content/coin02@1x.png" srcset="img/content/coin02@2x.png, img/content/coin02@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Water
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin03@1x.webp, img/content/coin03@2x.webp, img/content/coin03@3x.webp" type="image/webp")
						img(src="img/content/coin03@1x.png" srcset="img/content/coin03@2x.png, img/content/coin03@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Bridge
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin04@1x.webp, img/content/coin04@2x.webp, img/content/coin04@3x.webp" type="image/webp")
						img(src="img/content/coin04@1x.png" srcset="img/content/coin04@2x.png, img/content/coin04@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Bridge
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin05@1x.webp, img/content/coin05@2x.webp, img/content/coin05@3x.webp" type="image/webp")
						img(src="img/content/coin05@1x.png" srcset="img/content/coin05@2x.png, img/content/coin05@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Bridge
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin06@1x.webp, img/content/coin06@2x.webp, img/content/coin06@3x.webp" type="image/webp")
						img(src="img/content/coin06@1x.png" srcset="img/content/coin06@2x.png, img/content/coin06@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Forest
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin07@1x.webp, img/content/coin07@2x.webp, img/content/coin07@3x.webp" type="image/webp")
						img(src="img/content/coin07@1x.png" srcset="img/content/coin07@2x.png, img/content/coin07@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type.card-list__type--none Bridge
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin08@1x.webp, img/content/coin08@2x.webp, img/content/coin08@3x.webp" type="image/webp")
						img(src="img/content/coin08@1x.png" srcset="img/content/coin08@2x.png, img/content/coin08@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Nature
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin09@1x.webp, img/content/coin09@2x.webp, img/content/coin09@3x.webp" type="image/webp")
						img(src="img/content/coin09@1x.png" srcset="img/content/coin09@2x.png, img/content/coin09@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Nature
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
			li.card-list__item
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin10@1x.webp, img/content/coin10@2x.webp, img/content/coin10@3x.webp" type="image/webp")
						img(src="img/content/coin10@1x.png" srcset="img/content/coin10@2x.png, img/content/coin10@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Nature
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-contentp.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
		div.hero__more-wrap
			button.hero__show-more.button.button--main(type="button")
				span Загрузить еще
			div.hero__decor-panel
		template(id="card")
			li.card-list__item.card
				div.card-list__pic-wrap
					picture
						source(srcset="img/content/coin01@1x.webp, img/content/coin01@2x.webp, img/content/coin01@3x.webp" type="image/webp")
						img(src="img/content/coin01@1x.png" srcset="img/content/coin01@2x.png, img/content/coin01@3x.png" width="230" height="185" alt="Монеты")
				div.card-list__content-wrap
					p.card-list__type Bridge
					h2.card-list__heading
						|How to increase your productivity with a Music
					p.card-list__text-content
						|Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium,
						| totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…
					p.card-list__author
						|Posted by #[span Eugenia], on July  24, 2019
					a.card-list__continue(href="#") Continue reading
