-
	const headerData = {
		navigation:[
			{href:'#', text: 'УСЛУГИ'},
			{href:'#', text: 'АБОНЕМЕНТЫ'},
			{href:'#', text: 'ПОЧЕМУ МЫ'},
			{href:'#', text: 'ОБОРУДОВАНИЕ'},
			{href:'#', text: 'АКЦИИ'},
			{href:'#', text: 'FAQ'},
			{href:'#', text: 'КОНТАКТЫ'},
		]
	};
