.card-list {
	display: flex;
	column-gap: 20px;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	margin-bottom: 38px;
	width: 100%;
	row-gap: 20px;

	@include tablet {
		margin-bottom: 60px;
		row-gap: 24px;
	}

	@include desktop {
		column-gap: 30px;
		row-gap: 30px;
	}
}

.card-list__item {
	display: grid;
	flex: 1 1 320px;
	align-items: stretch;
	grid-template-rows: auto 1fr;

	@include tablet {
		max-width: 489px;
	}
}

.card-list__pic-wrap {
	display: grid;
	width: 100%;

	img {
		width: 100%;
		height: auto;
	}
}

.card-list__content-wrap {
	display: grid;
	align-items: start;
	justify-content: flex-start;
	padding: 25px 25px 30px;
	height: 100%;
	background-color: var(--color-bg-alternate);
}

.card-list__type {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 186%;
	letter-spacing: .11em;
	text-transform: uppercase;
	color: var(--color-text-heading);

	&--none {
		opacity: 0;
	}
}

.card-list__heading {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 162%;
	letter-spacing: .07em;
	color: var(--color-text-heading);
}

.card-list__text-content {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	color: var(--color-text-alternate);
}

.card-list__author {
	align-self: end;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: .05em;
	color: var(--color-text-alternate);

	span {
		font-weight: 700;
	}
}

.card-list__continue {
	align-self: end;
	width: 100%;
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	background-color: var(--color-text-heading);
	padding-block: 16px;

	@include hover {
		color: var(--color-text-hover);
	}

	@include active {
		color: var(--color-text-active);
	}
}
