.header {
	position: sticky;
	top: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 18px;
	background-color: var(--color-bg-main);

	@include tablet {
		padding: 30px 10px 20px;
	}

	@include desktop {
		padding-top: 28px;
		padding-bottom: 28px;
	}
}

.header__container {
	display: flex;
	align-items: center;
}

.header__burger-menu {
	position: relative;
	display: grid;
	align-items: center;
	justify-content: flex-start;
	margin-right: auto;
	padding: 6px 3px;
	width: 37px;
	height: 31px;

	span {
		border-radius: 2px;
		height: 3px;
		background-color: var(--color-bg-alternate);
	}

	&[aria-expanded="false"] {
		span {
			position: absolute;
			left: 3px;
			transition: all .3s ease;

			&:nth-child(1) {
				top: 6px;
				width: 15px;
			}

			&:nth-child(2) {
				top: 14px;
				width: 31px;
			}

			&:nth-child(3) {
				top: 22px;
				width: 22px;
			}
		}
	}

	&[aria-expanded="true"] {
		/* stylelint-disable-next-line no-descending-specificity */
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all .3s ease;

			&:nth-child(1) {
				top: 50%;
				width: 31px;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				top: 50%;
				width: 31px;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	@include tablet {
		margin-right: 91px;
	}

	@include desktop {
		display: none;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	height: 38px;
	min-width: 112px;

	img {
		width: 100%;
		height: auto;
	}

	@include tablet {
		margin-right: auto;
		margin-left: 0;
		height: 60px;
		min-width: 156px;

		img {
			width: 100%;
			height: auto;
		}
	}

	@include desktop {
		margin-right: 66px;
		margin-left: 0;
	}
}

.header__navigation {}

.header__call {
	display: none;

	svg {
		fill: var(--color-bg-alternate);
		transform: skewX(17deg);
	}

	@include tablet {
		display: flex;
		justify-content: center;
		margin-right: 7px;
		border: 1px solid var(--color-stroke);
		padding: 13px 20px;
		transform: skewX(-17deg);
	}

	@include desktop {
		margin-right: 31px;
	}
}

.header__more-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 294px;

	@include tablet {
		margin-right: 10px;
	}
}

.header__popover-button {
	display: none;

	span {
		display: block;
		white-space: nowrap;
		transform: skewX(17deg);
	}

	@include tablet {
		display: block;
		margin-right: 6px;
		transform: skewX(-17deg);
		padding-block: 21px;
		padding-inline: 31px;
	}

	@include desktop {
		padding-inline: 71px;
	}
}

.header__decor-panel {
	display: none;
	width: 6px;
	height: 60px;
	background-color: var(--color-bg-alternate);
	transform: skewX(-17deg);

	@include tablet {
		display: block;
	}
}
