.navigation {
	position: absolute;
	top: 71px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: auto;
	width: 100%;
	height: calc(100dvh - 71px);
	background-color: var(--color-bg-main);
	opacity: 0;
	transition: opacity .3s ease-in-out;
	overflow: auto;
	pointer-events: none;

	&--opened {
		opacity: 1;
		pointer-events: visible;
	}

	@include tablet {
		top: 110px;
		margin-bottom: 0;
		height: calc(100dvh - 110px);
		padding-bottom: 20px;
	}

	@include desktop {
		position: static;
		flex-direction: row;
		padding-right: 20px;
		height: auto;
		opacity: 1;
		pointer-events: visible;
		padding-bottom: 0;
	}
}

.navigation__list {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	row-gap: 15px;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 0;
	}

	@include desktop {
		column-gap: 14px;
		flex-direction: row;
		justify-content: flex-start;
		width: auto;
	}
}

.navigation__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	@include desktop {
		width: auto;
	}
}

.navigation__link {
	width: 100%;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	text-align: left;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--color-stroke);
	padding-inline: 18px;

	@include tablet {
		font-size: 36px;
		padding-inline: 50px;
	}

	@include desktop {
		font-weight: 700;
		font-size: 14px;
		line-height: 150%;
		-webkit-text-fill-color: initial;
		-webkit-text-stroke: none;
		color: var(--color-text-main);
		padding-block: 2px;
		padding-inline: 5px;
	}
}

.navigation__call {
	display: grid;
	place-items: center;
	margin-bottom: 6px;
	border: 1px solid var(--color-stroke);
	width: calc(100% - 47px);
	transform: skewX(-17deg); //- todo: наклон кнопок во всём макете различается, уточнить поведение у дизайнера
	padding-block: 13px;

	svg {
		fill: var(--color-bg-alternate);
		transform: skewX(17deg);
	}

	@include tablet {
		display: none;
	}
}

.navigation__popover-button {
	margin-bottom: 21px;
	width: calc(100% - 47px);
	transform: skewX(-17deg);
	padding-block: 21px;

	@include tablet {
		display: none;
	}
}
