extends layout/layout
block const
	- const isHomePage = true;
block meta
	title magwai
	meta(name="description" content="magwai")
block content
	include ./includes/hero
	include ./includes/product
block prepend page-bottom
