:root {
	--font-family: "Montserat", sans-serif;
	--second-family: "Malush", sans-serif;
	--color-text-main: #fff;
	--color-text-alternate: #666;
	--color-text-heading: #171717;
	--color-bg-main: #131313;
	--color-bg-alternate: #fff;
	--color-button-main: #c2ab81;
	--color-stroke: rgb(255 255 255 / 40%);
	--color-damper: rgb(19 19 19 / 0%) 100%;
}
